body {
  font-family: sans-serif;
  height: 100vh;
  padding: 0%;
}

.msg {
  padding: 1%;
}

.msg span {
  color: white;
  border-radius: 10px 10px 10px 0px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 10px;
}

.msg-content {
  max-width: 30vw;
  margin: 0.5vw;
  margin: 1vw 0vw 1vw 0vw;
  display: flex;
  flex-direction: row;
}

.msg-left,
.msg-right {
  margin: 0vw 1vw 0vw 1vw;
}

.msg-right {
  font-size: smaller;
  color: grey;
}

.sentByYou {
  margin-left: auto;
}

.sentByYou span {
  color: white;
  border-radius: 10px 10px 0px 10px;
  word-break: break-all;
}

.sentByYou .msg-content {
  flex-direction: row-reverse;
}

.sentByYou {
  text-align: right;
}

.homepage {
  display: flex;
  padding: 0%;
  margin: 0%;
}

aside,
main {
  padding: 1%;
  margin: 0%;
  height: 100vh;
}

aside {
  width: 25%;
}

li,
ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

li {
  margin-bottom: 20px;
}

.messages {
  font-size: smaller;
  height: 90vh;
  width: 60vw;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  scroll-behavior: smooth;
}

.members {
  height: 90vh;
  overflow: auto;
}

.textbox {
  width: 100%;
  display: flex;
}

.textbox input {
  width: 100%;
  padding: 1%;
  border: none;
  border-top: 1px solid;
}

.registeration {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settings input,
.settings p,
.registeration input,
.registeration p {
  width: 50%;
  margin: 1%;
  padding: 1%;
}

.settings button,
.registeration button {
  margin: 1%;
  padding: 1%;
}

.settheme {
  display: flex;
  flex-direction: column;
}

.you {
  color: green;
}

button:hover {
  opacity: 0.8;
  transition: 0.25s;
}
