body {
  font-family: sans-serif;
  padding: 0%;
  scroll-behavior: smooth;
}

/* Messages */

.messages {
  font-size: smaller;
  height: 80vh;
  width: 60vw;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.msg {
  padding: 1%;
}

.msg span {
  color: white;
  border-radius: 10px 10px 10px 0px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 10px;
}

.msg-content {
  max-width: 30vw;
  margin: 0.5vw;
  margin: 1vw 0vw 1vw 0vw;
  display: flex;
  flex-direction: row;
}

.msg-left,
.msg-right {
  margin: 0vw 1vw 0vw 1vw;
}

.msg-right {
  font-size: smaller;
  color: grey;
}

.sentByYou {
  margin-left: auto;
}

.sentByYou span {
  color: white;
  border-radius: 10px 10px 0px 10px;
  word-break: break-all;
}

.sentByYou .msg-content {
  flex-direction: row-reverse;
}

.sentByYou {
  text-align: right;
}

.messages::-webkit-scrollbar {
  width: 1em;
}

.messages::-webkit-scrollbar-thumb {
  background: grey;
}

/* Layout */

.homepage {
  display: flex;
  padding: 0%;
  margin: 0%;
}

aside,
main {
  padding: 1%;
  margin: 0%;
  height: 100vh;
}

aside {
  width: 25%;
}

li,
ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

li {
  margin-bottom: 20px;
}

.members {
  height: 90vh;
  overflow: auto;
}

.you {
  color: limegreen;
}

/* textbox */

.textbox {
  width: 100%;
  display: flex;
}

.textbox input {
  width: 100%;
  margin: 1.5%;
  padding: 2%;
  border-radius: 20px;
}

/* registeration */

.registeration {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registeration p {
  width: 50%;
  margin: 1%;
  padding: 1%;
}

.registeration input {
  width: 300px;
  margin: 1%;
  padding: 1%;
}

.registeration button {
  margin: 1%;
  padding: 1%;
}

.settings input {
  width: 65%;
}

/* settings */

.request {
  display: flex;
  justify-content: center;
}

.settings button,
.settings input,
.settings select {
  margin: 2%;
  padding: 4%;
  border-radius: 10px;
}

button,
input,
select {
  border: none;
}

.settings,
.settheme {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* down button */

button:hover {
  opacity: 0.8;
  transition: 0.25s;
}

#down-button {
  position: absolute;
  right: 14vw;
  z-index: 99;
}

#down-button i {
  font-size: 2rem;
}
